Repository TrainingDiary/training-diary-frontend, pull requests merged in 2024-07, with the labels that each got.

#5 [FEAT] Design system 정리 및 공통 컴포넌트(버튼) 개발 #3
  index.html
  package-lock.json
  package.json
  src/App.tsx
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
  src/routes/Home/Home.tsx
  src/styles/globalStyles.ts
  src/styles/theme.ts
Labels: ✨ Feature, 🎨 Html&css

#8 [FEAT] 로그인 뷰 작업 및 테스트 코드 작성 #7
  .github/workflows/deploy.yml
  jest.config.ts
  package-lock.json
  package.json
  public/_redirects
  src/assets/icons/close.svg
  src/assets/icons/email.svg
  src/assets/icons/error.svg
  src/assets/icons/google.svg
  src/assets/icons/hidePassword.svg
  src/assets/icons/kakao.svg
  src/assets/icons/naver.svg
  src/assets/icons/password.svg
  src/assets/icons/react.svg
  src/assets/icons/showPassword.svg
  src/components/Auth/AuthError/AuthError.test.tsx
  src/components/Auth/AuthError/AuthError.tsx
  src/components/Auth/AuthInputBox/AuthInputBox.test.tsx
  src/components/Auth/AuthInputBox/AuthInputBox.tsx
  src/components/Auth/AuthSwitcher.tsx
  src/components/Auth/AuthTitle.tsx
  src/components/Auth/SocialLoginBox.tsx
  src/components/Auth/styledComponents/AuthContainer.ts
  src/components/Auth/styledComponents/AuthForm.ts
  src/components/Auth/styledComponents/AuthWrapper.ts
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
  src/routes/Home/Home.tsx
  src/routes/Login/Login.tsx
  src/styles/animations/fadeInOut.ts
  src/styles/globalStyles.ts
  src/styles/theme.ts
  tsconfig.json
  vite.config.ts
Labels: 🐞 BugFix, 🌏 Deploy, ✨ Feature, ✅ Test

#10 [FEAT] 회원가입 뷰 작업 #9
  jest.config.ts
  src/assets/icons/close.svg
  src/assets/icons/name.svg
  src/assets/icons/success.svg
  src/components/Auth/AuthError/AuthError.test.tsx
  src/components/Auth/AuthInputBox/AuthInputBox.test.tsx
  src/components/Auth/AuthInputBox/AuthInputBox.tsx
  src/components/Auth/AuthSwitcher.tsx
  src/components/Auth/RoleSelector.tsx
  src/components/Auth/styledComponents/AuthContainer.ts
  src/components/Auth/styledComponents/AuthForm.ts
  src/components/Auth/styledComponents/AuthWrapper.ts
  src/components/Common/Alert/Alert.test.tsx
  src/components/Common/Alert/Alert.tsx
  src/components/Common/Button/Button.test.tsx
  src/components/Common/Button/Button.tsx
  src/routes/Home.tsx
  src/routes/Login.tsx
  src/routes/Signup.tsx
  src/routes/index.tsx
  src/styles/animations/fadeInOut.ts
  src/styles/globalStyles.ts
  src/utils/helpers/helpers.ts
  src/utils/hexToRgba.ts
Labels: 🐞 BugFix, ✨ Feature, 🎨 Html&css, 💻 Accessibility

#13 [FEAT] 회원가입 기능 작업 #11
  src/components/Auth/AuthInputBox/AuthInputBox.tsx
  src/components/Auth/RoleSelector.tsx
  src/components/Common/Button/Button.tsx
  src/routes/Signup.tsx
  src/styles/globalStyles.ts
  src/utils/regExp.ts
Labels: 🐞 BugFix, ✨ Feature, 🔨 Refactor

#16 [FEAT] Appointment > 월별 시간표 탭 > 캘린더 섹션 뷰 작업 #15
  index.html
  package-lock.json
  package.json
  src/components/Appointment/Calendar/MonthlyCalendar.tsx
  src/components/Tabs/Tabs.tsx
  src/routes/Appointment/Appointment.tsx
  src/routes/Appointment/MonthlyContent.tsx
  src/routes/Appointment/WeeklyContent.tsx
  src/routes/Layout.tsx
  src/routes/index.tsx
Labels: ✨ Feature, 🎨 Html&css

#19 [FIX] Auth 버그 픽스 및 반응형 디자인 추가 #18
  index.html
  src/assets/fonts/NanumSquare/nanumsquarer-webfont.eot
  src/assets/fonts/NanumSquare/nanumsquarer-webfont.svg
  src/assets/fonts/NanumSquare/nanumsquarer-webfont.ttf
  src/assets/fonts/NanumSquare/nanumsquarer-webfont.woff
  src/assets/fonts/NanumSquare/nanumsquarer-webfont.woff2
  src/assets/fonts/NanumSquareBold/nanumsquareb-webfont.eot
  src/assets/fonts/NanumSquareBold/nanumsquareb-webfont.svg
  src/assets/fonts/NanumSquareBold/nanumsquareb-webfont.ttf
  src/assets/fonts/NanumSquareBold/nanumsquareb-webfont.woff
  src/assets/fonts/NanumSquareBold/nanumsquareb-webfont.woff2
  src/assets/fonts/NanumSquareExtraBold/nanumsquareeb-webfont.eot
  src/assets/fonts/NanumSquareExtraBold/nanumsquareeb-webfont.svg
  src/assets/fonts/NanumSquareExtraBold/nanumsquareeb-webfont.ttf
  src/assets/fonts/NanumSquareExtraBold/nanumsquareeb-webfont.woff
  src/assets/fonts/NanumSquareExtraBold/nanumsquareeb-webfont.woff2
  src/assets/fonts/font.css
  src/assets/icons/alert/error.svg
  src/assets/icons/alert/success.svg
  src/assets/icons/auth/email.svg
  src/assets/icons/auth/hidePassword.svg
  src/assets/icons/auth/name.svg
  src/assets/icons/auth/password.svg
  src/assets/icons/auth/showPassword.svg
  src/assets/icons/header/backIcon.svg
  src/assets/icons/header/bell.svg
  src/assets/icons/header/bellNew.svg
  src/assets/icons/header/hamBtn.svg
  src/assets/icons/modal/closeBtn.svg
  src/assets/icons/navigation/activeAppointment.svg
  src/assets/icons/navigation/activeHome.svg
  src/assets/icons/navigation/appointment.svg
  src/assets/icons/navigation/home.svg
  src/assets/icons/navigation/logout.svg
  src/assets/icons/socialLogin/google.svg
  src/assets/icons/socialLogin/kakao.svg
  src/assets/icons/socialLogin/naver.svg
  src/components/Auth/AuthInputBox/AuthInputBox.tsx
  src/components/Auth/RoleSelector.tsx
  src/components/Auth/SocialLoginBox.tsx
  src/components/Common/Alert/Alert.tsx
  src/components/Common/Button/Button.tsx
  src/components/Common/Modal/Modal.tsx
  src/components/Header/Drawer.tsx
  src/components/Header/Header.tsx
  src/components/Navigation/Navigation.tsx
  src/main.tsx
  src/routes/Login.tsx
  src/routes/Signup.tsx
  src/styles/animations/fadeInOut.ts
  src/styles/globalStyles.ts
  src/styles/theme.ts
Labels: 🐞 BugFix, 💻 Accessibility

#21 [FEAT] 트레이너 홈 > Trainee List 뷰 작업 #17
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/assets/icons/addbtn.svg
  src/assets/icons/avatar.svg
  src/assets/icons/dropDownArrow.svg
  src/components/Common/Button/Button.tsx
  src/components/Common/Modal/Modal.tsx
  src/components/Navigation/Navigation.tsx
  src/components/Tabs/Tabs.tsx
  src/main.tsx
  src/mocks/browser.ts
  src/mocks/dummy.json
  src/mocks/handlers.ts
  src/routes/Home.tsx
  src/routes/TraineeInfo.tsx
  src/routes/Trainer/TraineeManagement.tsx
  src/routes/index.tsx
  src/styles/globalStyles.ts
  src/utils/formatDate.ts
Labels: ✨ Feature, 🎨 Html&css

#23 [FIX] 모달 테스트 코드 수정 #17
  src/components/Common/Modal/Modal.test.tsx
Labels: 🐞 BugFix, ✅ Test

#25 [FEAT] Appointment > 월별 시간표 탭 > 시간대 선택 섹션 뷰 작업 #20
  package-lock.json
  package.json
  src/components/Appointment/ButtonContainer.tsx
  src/components/Appointment/Calendar/MonthlyCalendar.tsx
  src/components/Appointment/TimeTableContainer.tsx
  src/components/Common/Button/Button.tsx
  src/components/Tabs/Tabs.tsx
  src/hooks/useForm/useForm.ts
  src/hooks/useSchedules.ts
  src/mocks/data/scheduleList.ts
  src/mocks/data/traineeList.ts
  src/mocks/dummy.json
  src/mocks/handlers.ts
  src/routes/Appointment/MonthlyContent.tsx
  src/styles/globalStyles.ts
  src/utils/generateTimes.ts
Labels: ✨ Feature, 🎨 Html&css

#27 [FEAT] 트레이너 홈 > Trainee List 뷰 작업 #24
  src/assets/icons/home/addbtn.svg
  src/assets/icons/home/avatar.svg
  src/assets/icons/home/dropDownArrow.svg
  src/components/Common/Modal/Modal.tsx
  src/components/Header/Drawer.tsx
  src/components/Header/Header.tsx
  src/components/Navigation/Navigation.tsx
  src/mocks/data/workoutList.ts
  src/mocks/handlers.ts
  src/routes/Home.tsx
  src/routes/Trainer/Card.tsx
  src/routes/Trainer/TraineeManagement.tsx
  src/routes/Trainer/WorkOutManagement.tsx
Labels: ✨ Feature, 🎨 Html&css

#28 [FEAT] Appointment > 월별 시간표 탭 기능 작업 #26
  src/components/Appointment/Calendar/MonthlyCalendar.tsx
  src/components/Appointment/TimeTableContainer.tsx
  src/components/Appointment/TraineeList.tsx
  src/components/Common/Modal/Modal.tsx
  src/components/Tabs/Tabs.tsx
  src/hooks/useModals.ts
  src/hooks/useSchedules.ts
  src/mocks/data/traineeList.ts
  src/routes/Appointment/Appointment.tsx
  src/routes/Appointment/MonthlyContent.tsx
  src/routes/Appointment/WeeklyContent.tsx
  src/routes/Trainer/TraineeManagement.tsx
Labels: ✨ Feature, 🔨 Refactor

#31 [FIX] PR merge 충돌사항 수정 #26
  src/components/Appointment/TraineeList.tsx
Labels: 🐞 BugFix

#32 [FEAT] Workout list 추가, 수정 모달 추가 및 Drawer 디자인 및 기능 리팩토링 #30
  src/components/Common/Modal/Modal.tsx
  src/components/Header/Drawer.tsx
  src/components/Header/Header.tsx
  src/mocks/data/workoutList.ts
  src/mocks/handlers.ts
  src/routes/Trainer/AddWorkOutModal.tsx
  src/routes/Trainer/TraineeManagement.tsx
  src/routes/Trainer/WorkOutManagement.tsx
Labels: ✨ Feature, 🎨 Html&css, 🔨 Refactor

#34 [FEAT] 트레이니 대쉬보드 뷰 작업 #33
  package-lock.json
  package.json
  src/assets/icons/dashboard/bodyFat.svg
  src/assets/icons/dashboard/muscleMass.svg
  src/assets/icons/dashboard/weight.svg
  src/components/Navigation/Navigation.tsx
  src/routes/Home.tsx
  src/routes/Trainee/Calendar.tsx
  src/routes/Trainee/Dashboard.tsx
  src/routes/Trainee/InbodyModal.tsx
  src/routes/Trainee/TraineeInfo.tsx
  src/routes/index.tsx
Labels: ✨ Feature, 🎨 Html&css

#35 [FEAT] Appointment > 주별 시간표 탭 작업 #29
  src/components/Appointment/MonthlyCalendar.tsx
  src/components/Appointment/ScheduleDetail.tsx
  src/components/Appointment/TraineeList.tsx
  src/components/Appointment/WeeklyCalendar.tsx
  src/components/Tabs/Tabs.tsx
  src/mocks/data/scheduleList.ts
  src/routes/Appointment/MonthlyContent.tsx
  src/routes/Appointment/WeeklyContent.tsx
Labels: ✨ Feature

#38 [FEAT] Home > 식단관리 탭 > 피드 모아보기 뷰 작업 #37
  .eslintrc.cjs
  .gitignore
  .prettierrc
  .vscode/settings.json
  package-lock.json
  package.json
  public/vite.svg
  src/routes/Signup.tsx
  src/routes/Trainee/Diet.tsx
  src/routes/Trainee/TraineeInfo.tsx
  src/styles/globalStyles.ts
Labels: ⚙ Setting, ✨ Feature, 🎨 Html&css

#39 [FEAT] 트레이니 대시보드 뷰 인바디 그래프 작업 및 Wrapper width값 지정 #36
  .eslintrc.cjs
  .vscode/settings.json
  index.html
  package-lock.json
  package.json
  public/favicon/android-icon-144x144.png
  public/favicon/android-icon-192x192.png
  public/favicon/android-icon-36x36.png
  public/favicon/android-icon-48x48.png
  public/favicon/android-icon-72x72.png
  public/favicon/android-icon-96x96.png
  public/favicon/apple-icon-114x114.png
  public/favicon/apple-icon-120x120.png
  public/favicon/apple-icon-144x144.png
  public/favicon/apple-icon-152x152.png
  public/favicon/apple-icon-180x180.png
  public/favicon/apple-icon-57x57.png
  public/favicon/apple-icon-60x60.png
  public/favicon/apple-icon-72x72.png
  public/favicon/apple-icon-76x76.png
  public/favicon/apple-icon-precomposed.png
  public/favicon/apple-icon.png
  public/favicon/browserconfig.xml
  public/favicon/favicon-16x16.png
  public/favicon/favicon-32x32.png
  public/favicon/favicon-96x96.png
  public/favicon/favicon.ico
  public/favicon/manifest.json
  public/favicon/ms-icon-144x144.png
  public/favicon/ms-icon-150x150.png
  public/favicon/ms-icon-310x310.png
  public/favicon/ms-icon-70x70.png
  src/components/Common/SectionWrapper.ts
  src/components/Tabs/Tabs.tsx
  src/routes/Appointment/MonthlyContent.tsx
  src/routes/Appointment/WeeklyContent.tsx
  src/routes/Home.tsx
  src/routes/Trainee/Calendar.tsx
  src/routes/Trainee/Dashboard.tsx
  src/routes/Trainee/InbodyModal.tsx
  src/routes/Trainer/TraineeManagement.tsx
  src/routes/Trainer/WorkOutManagement.tsx
Labels: ✨ Feature, 🎨 Html&css

#42 [FIX] 세부 탭별로 Routing 설정 #40
  jest.config.ts
  src/components/Appointment/MonthlyCalendar.tsx
  src/components/Appointment/ScheduleDetail.tsx
  src/components/Appointment/WeeklyCalendar.tsx
  src/components/Common/AddButton.tsx
  src/components/Common/Header/Drawer.tsx
  src/components/Common/Header/Header.tsx
  src/components/Common/Layout.tsx
  src/components/Common/Navigation/Navigation.tsx
  src/components/Common/Tabs/Tabs.test.tsx
  src/components/Common/Tabs/Tabs.tsx
  src/components/Tabs/Tabs.test.tsx
  src/components/Trainee/Calendar.tsx
  src/components/Trainee/InbodyModal.tsx
  src/components/Trainer/AddWorkOutModal.tsx
  src/components/Trainer/Card.tsx
  src/pages/Appointment/AppointmentHome.tsx
  src/pages/Appointment/MonthlyContent.tsx
  src/pages/Appointment/WeeklyContent.tsx
  src/pages/Login/Login.tsx
  src/pages/NotFound.tsx
  src/pages/Signup/Signup.tsx
  src/pages/Trainee/Dashboard.tsx
  src/pages/Trainee/Diet.tsx
  src/pages/Trainee/DietDetail.tsx
  src/pages/Trainee/Session.tsx
  src/pages/Trainee/SessionDetail.tsx
  src/pages/Trainee/TraineeHome.tsx
  src/pages/Trainer/TraineeManagement.tsx
  src/pages/Trainer/TrainerHome.tsx
  src/pages/Trainer/WorkOutManagement.tsx
  src/routes/Appointment/Appointment.tsx
  src/routes/Home.tsx
  src/routes/HomeRedirect.tsx
  src/routes/ProtectedRoute.tsx
  src/routes/PublicRoute.tsx
  src/routes/RoleProtectedRoute.tsx
  src/routes/Trainee/TraineeInfo.tsx
  src/routes/index.tsx
  src/stores/useStore/useStore.ts
  src/stores/userStore.ts
  tsconfig.json
  vite.config.ts
Labels: 🐞 BugFix, ⚙ Setting

#44 [FEAT] Record 자세 사진 목록 뷰 및 가로 무한 스크롤 작업 #41
  index.html
  src/components/Common/AddButton.tsx
  src/components/Common/Modal/Modal.tsx
  src/mocks/handlers.ts
  src/pages/Trainee/Dashboard.tsx
  src/pages/Trainee/Session.tsx
Labels: ✨ Feature, 🎨 Html&css

#45 [FEAT] Home > 식단관리 탭 > 식단 추가 버튼 및 모달 작업 #43
  src/assets/icons/diet/addImg.svg
  src/components/Appointment/TraineeRegisterModal.tsx
  src/components/Common/AddButton.tsx
  src/components/Common/Modal/Modal.tsx
  src/components/Common/Navigation/Navigation.tsx
  src/components/Trainee/DietUploadModal.tsx
  src/pages/Appointment/MonthlyContent.tsx
  src/pages/Trainee/Diet.tsx
Labels: 🐞 BugFix, ✨ Feature

#49 [FEAT] Home > 식단관리 탭 > 식단 상세 페이지 뷰 작업 #46
  src/assets/icons/diet/activeSendComment.svg
  src/assets/icons/diet/commentAvatar.svg
  src/assets/icons/diet/inactiveSendComment.svg
  src/assets/icons/diet/threeDots.svg
  src/components/Trainee/DietUploadModal.tsx
  src/pages/Trainee/DietDetail.tsx
Labels: ✨ Feature, 🎨 Html&css

#48 [FEAT] Record 자세 사진 목록 추가 모달 및 가로 무한 스크롤 리팩토링 #47
  src/components/Trainee/AddSessionModal.tsx
  src/components/Trainee/Calendar.tsx
  src/components/Trainer/AddWorkOutModal.tsx
  src/components/Trainer/Card.tsx
  src/mocks/data/workoutList.ts
  src/pages/Trainee/Session.tsx
  src/pages/Trainer/WorkOutManagement.tsx
Labels: ✨ Feature, 🎨 Html&css, 🔨 Refactor

#51 [FEAT] Firebase Cloud Messaging 적용 #50
  .gitignore
  .vscode/settings.json
  package-lock.json
  package.json
  public/firebase-messaging-sw.js
  src/App.tsx
  src/components/Common/PushMessage.tsx
  src/firebase/firebaseConfig.ts
  src/pages/Login/notificationService.ts
Labels: ⚙ Setting, ✨ Feature

#53 Revert "[FEAT] Firebase Cloud Messaging 적용 #50"
  .gitignore
  .vscode/settings.json
  package-lock.json
  package.json
  public/firebase-messaging-sw.js
  src/App.tsx
  src/components/Common/PushMessage.tsx
  src/firebase/firebaseConfig.ts
  src/pages/Login/notificationService.ts
Labels: 🐞 BugFix

#54 [FEAT] Firebase Cloud Messaging 적용 #50
  .gitignore
  .vscode/settings.json
  package-lock.json
  package.json
  public/firebase-messaging-sw.js
  src/App.tsx
  src/components/Common/PushMessage.tsx
  src/firebase/firebaseConfig.ts
  src/pages/Login/loginService.ts
Labels: 🐞 BugFix, ⚙ Setting, ✨ Feature

#57 [FEAT] API 연동 전 SETTING #55
  public/firebase-messaging-sw.js
  src/App.tsx
  src/api/auth.ts
  src/api/axiosInstance.ts
  src/components/Common/Header/Header.tsx
  src/firebase/initFirebase.ts
  src/firebase/notificationPermission.ts
  src/firebase/registerServiceWorker.ts
  src/hooks/useFetchUser.ts
  src/main.tsx
  src/pages/Login/Login.tsx
  src/pages/Login/loginService.ts
  src/pages/Trainee/Dashboard.tsx
  src/pages/Trainee/Session.tsx
  src/routes/HomeRedirect.tsx
  src/routes/ProtectedRoute.tsx
  src/routes/PublicRoute.tsx
  src/routes/RoleProtectedRoute.tsx
  src/stores/userStore.ts
Labels: 🐞 BugFix, ⚙ Setting, 📬 API

#59 [FEAT] react-query 적용 #58
  package-lock.json
  package.json
  src/api/appointment.ts
  src/components/Appointment/MonthlyCalendar.tsx
  src/components/Common/PushMessage.tsx
  src/hooks/useFetchSchedules.ts
  src/hooks/useSchedules.ts
  src/main.tsx
  src/pages/Appointment/MonthlyContent.tsx
  src/pages/Login/Login.tsx
  src/utils/getMonthRange.ts
Labels: 🐞 BugFix, 📬 API

#62 [FEAT] 로그인 및 회원가입 페이지 API 연동 #61
  src/api/appointment.ts
  src/api/auth.ts
  src/api/axiosInstance.ts
  src/api/notification.ts
  src/components/Auth/AuthInputBox/AuthInputBox.tsx
  src/components/Common/Header/Header.tsx
  src/components/Common/Navigation/Navigation.tsx
  src/firebase/notificationPermission.ts
  src/hooks/useFetchUser.ts
  src/pages/Login/Login.tsx
  src/pages/Signup/Signup.tsx
  src/stores/userStore.ts
Labels: ✨ Feature, 📬 API

#65 [FEAT] 트레이니 관리 페이지 API 연동#60
  src/api/trainer.ts
  src/components/Common/Modal/Modal.tsx
  src/pages/Trainer/TraineeManagement.tsx
Labels: ✨ Feature, 📬 API

#67 [FEAT] 트레이너 홈 > 운동 종류 관리 탭 API 연동 #66
  src/api/trainer.ts
  src/components/Trainer/AddWorkOutModal.tsx
  src/components/Trainer/Card.tsx
  src/pages/Trainer/TraineeManagement.tsx
  src/pages/Trainer/WorkOutManagement.tsx
Labels: ✨ Feature, 📬 API, 🔨 Refactor

#69 [FEAT] Appointment > 월별 시간표 탭 API 연동 #63
  public/firebase-messaging-sw.js
  src/api/appointment.ts
  src/components/Appointment/MonthlyCalendar.tsx
  src/components/Appointment/TimeTableContainer.tsx
  src/components/Appointment/TraineeRegisterModal.tsx
  src/components/Appointment/WeeklyCalendar.tsx
  src/components/Common/Header/Header.tsx
  src/components/Common/Navigation/Navigation.tsx
  src/firebase/registerServiceWorker.ts
  src/hooks/useFetchSchedules.ts
  src/hooks/useFetchUser.ts
  src/pages/Appointment/MonthlyContent.tsx
  src/pages/Login/Login.tsx
  src/pages/Signup/Signup.tsx
  src/pages/Trainee/Dashboard.tsx
  src/pages/Trainee/Session.tsx
  src/routes/HomeRedirect.tsx
  src/routes/ProtectedRoute.tsx
  src/routes/PublicRoute.tsx
  src/routes/RoleProtectedRoute.tsx
  src/stores/calendarStore.ts
  src/stores/userStore.ts
  src/utils/getMonthRange.ts
Labels: 🐞 BugFix, ✨ Feature, 📬 API

#72 [FEAT] 트레이니 홈 > 대시보드 탭 API 연동 #68
  src/api/trainee.ts
  src/components/Trainee/InbodyModal.tsx
  src/main.tsx
  src/mocks/handlers.ts
  src/pages/Trainee/Dashboard.tsx
  src/pages/Trainer/TraineeManagement.tsx
Labels: ✨ Feature, 📬 API, 🔨 Refactor

#73 [FEAT] Appointment > 주별 시간표 탭 API 연동 #70
  src/api/appointment.ts
  src/components/Appointment/MonthlyCalendar.tsx
  src/components/Appointment/ScheduleDetail.tsx
  src/components/Appointment/TimeTableContainer.tsx
  src/components/Appointment/TraineeRegisterModal.tsx
  src/components/Appointment/WeeklyCalendar.tsx
  src/mocks/data/scheduleList.ts
  src/pages/Appointment/MonthlyContent.tsx
  src/pages/Appointment/WeeklyContent.tsx
Labels: 🐞 BugFix, ✨ Feature, 📬 API

#75 [FEAT] 트레이니 홈 > 운동 기록 탭 API 연동 #71
  .vscode/settings.json
  src/api/trainee.ts
  src/api/trainer.ts
  src/components/Trainee/AddSessionModal.tsx
  src/pages/Trainee/Session.tsx
  src/styles/globalStyles.ts
Labels: ✨ Feature, 📬 API, 🔨 Refactor

#76 [FEAT] HOME > 식단관리 탭 API 연동 #64
  package-lock.json
  package.json
  src/api/trainee.ts
  src/components/Appointment/ScheduleDetail.tsx
  src/components/Appointment/TraineeRegisterModal.tsx
  src/components/Appointment/WeeklyCalendar.tsx
  src/components/Common/Header/Header.tsx
  src/components/Common/Navigation/Navigation.tsx
  src/components/Trainee/DietUploadModal.tsx
  src/firebase/notificationPermission.ts
  src/hooks/useFetchSchedules.ts
  src/hooks/useFetchUser.ts
  src/main.tsx
  src/pages/Appointment/MonthlyContent.tsx
  src/pages/Appointment/WeeklyContent.tsx
  src/pages/Login/Login.tsx
  src/pages/Signup/Signup.tsx
  src/pages/Trainee/Diet.tsx
  src/pages/Trainee/DietDetail.tsx
  src/routes/ProtectedRoute.tsx
  src/styles/globalStyles.ts
Labels: 🐞 BugFix, ✨ Feature, 📬 API

#78 [FEAT] 트레이니 홈 > 운동 기록 상세 페이지 탭 API 연동 #74
  src/api/trainee.ts
  src/components/Common/Modal/Modal.tsx
  src/components/Trainee/AddSessionModal.tsx
  src/components/Trainee/Calendar.tsx
  src/components/Trainee/EditSessionModal.tsx
  src/components/Trainee/ImageModal.tsx
  src/components/Trainee/InbodyModal.tsx
  src/components/Trainee/PhotoUploadModal.tsx
  src/components/Trainee/VideoUploadModal.tsx
  src/components/Trainer/AddWorkOutModal.tsx
  src/mocks/data/workoutSessionList.ts
  src/pages/Trainee/Dashboard.tsx
  src/pages/Trainee/Session.tsx
  src/pages/Trainee/SessionDetail.tsx
Labels: ✨ Feature, 📬 API, 🔨 Refactor
